# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# class files

*.class

# Package Files #
*.jar
*.war
*.ear
*.rar

# Eclipse workspace files #
.metadata/*
RemoteSystemsTempFiles/*
target/*
.settings/*
.project
.classpath
./settings/*
./target/*
